<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.versacomllc.audit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:name="com.versacomllc.audit.AuditManagement"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.versacomllc.audit.activity.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.versacomllc.audit.AuditDetailActivity"
            android:label="@string/title_audit_detail"
            android:parentActivityName=".AuditListActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AuditListActivity" />
        </activity>
        <activity
            android:name="com.versacomllc.audit.activity.SiteAuditActivity"
            android:label="@string/activity_title_audit" />
        <activity
            android:name="com.versacomllc.audit.activity.HomeActivity"
            android:label="@string/activity_title_inventory_site"
            android:screenOrientation="portrait" />

        <!-- This Service is needed by SpiceRestHelper -->
        <service
            android:name="com.versacomllc.audit.spice.CustomSpiceService"
            android:exported="false" />

    </application>

</manifest>

